VITE_SUPABASE_URL=https://samyjzdyccmdtucjuiam.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNhbXlqemR5Y2NtZHR1Y2p1aWFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNDkyNTMsImV4cCI6MjA4OTgyNTI1M30.aJuh-Bbrrb2qNdwX3ntPU-HUqBfp_ZkLYMqKoaEImsA
